<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">

    </div>
    <template id="my-template">
        <input type="text" v-model="score">
        <h2>您的的分数是：{{score}}</h2>
        <h3 v-if="score>=90">优秀</h3>
        <h3 v-else-if="score>=60">良好</h3>
        <h3 v-else>不及格</h3>
        
    </template>
    <script src="../vue.global.js"></script>
    <script>
        Vue.createApp({
            template: "#my-template",
            data() {
                return {
                    message: 'HELLO VUEJS 3 !',
                    score: 90
                }
            }
        }).mount('#app')
    </script>
</body>

</html>